html {
  width: 100%;
  height: 100%;
  background-color: #040D22;
}


body {
    /* remove margins and scroll bars */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    overflow: hidden;
    color: white;
  }

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040D22;
    height: 100%;
  }

  .title {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .description {
    font-size: 2vw;
    color: #ffffff !important;
  }
  
  .line {
    background: #0b0d2d19
  }
  .line div {
    color: #fdfdfd;
    line-height: 28px;
    height: 28px;
  }

  #scene-container {
    /* tell our scene container to take up the full page */
    /* position: absolute;
    width: 100%;
    height: 100%; */
    height: 100%;
  
    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: #040D22;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #040D22;
  }